<?xml version="1.0" encoding="UTF-8"?>
<!-- Usage: -Dlogback.configurationFile=/path/to/logback.xml -->
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>

		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>[%level] %msg%n</Pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>log/%d{yyyy_MM_dd}.rolling.log</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS} [%thread]\t%-5level %logger\t%msg%n</Pattern>
		</encoder>
	</appender>

	<logger level="INFO"	name="charva"/>
	<logger level="INFO"	name="charvax"/>
	<logger level="INFO"	name="java"/>
	<logger level="INFO"	name="javax"/>
	<logger level="INFO"	name="com"/>
	<logger level="INFO"	name="edu"/>
	<logger level="INFO"	name="net"/>
	<logger level="INFO"	name="org"/>
	<logger level="INFO"	name="sun"/>

	<logger level="TRACE"	name="org.patrodyne.etl.transformio"/>
	<logger level="DEBUG"	name="org.patrodyne.etl.transformio.cli"/>

	<root level="TRACE">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE"/>
	</root>
</configuration>
<!-- vi:set tabstop=4 hardtabs=4 shiftwidth=4: -->
